{% extends "layout.html" %}

{% block title %}
    My Reviews
{% endblock %}

{% block main %}
    <h2>Reviews for {{ title }}</h2>
    <br>
    <main class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Username</th>
                    <th class="text-start">Rating</th>
                    <th class="text-middle">Review</th>
                    <th class="text-end">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td class="text-start">{{ dict[row["user_id"]] }}</td>
                    <td class="text-start">{{ row["rating"] }}</td>
                    <td class="text-middle">{{ row["review"] }}</td>
                    <td class="text-end">{{ row["time"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
