body {
    background-color: #EDEDED;
}

.navbar {
    padding-left: 25px;
}

.navbar-brand {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: bold;
}

.nav-item {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.body {
    padding-top: 30px;
}

#dashboard, #login, #register, #records {
    font-family: sans-serif;
    font-size: 72px;
    font-weight: bold;
}

#dashboard2 {
    font-family: sans-serif;
    font-size: 20px;
}

#recent-records {
    font-family: sans-serif;
    font-size: 42px;
    font-weight: bold;  
}

#card-header {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #FBF679;
    height: 75px;

    font-family: sans-serif;
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 0px;
    line-height: normal;
}

#card-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #5709FE;
    height: 150px;

    font-family: sans-serif;
    font-size: 36px;
    font-weight: bold;
}
