{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create Entry
{% endblock %}

{% block body %}
    {% if failure %}
        <div class="alert alert-danger" role="alert">
            An Error has occured! This encyclopedia entry already exists
        </div>
    {% endif %}
    <h1>Create a new entry</h1>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Submit Changes">
    </form>
{% endblock %}