{% extends "network/layout.html" %}

{% block body %}

    <div id="app"></div>

    <script type="text/babel">
        
        function App() {

            function post(){
                const username = "{{ request.user }}";
                console.log(username);
                
                fetch('/post', {
                    method: 'POST',
                    body: JSON.stringify({
                        poster: username,
                        content: document.querySelector("#content").value,
                    })
                })
                .then(response => response.json())
                .then(result => {
                    console.log(result.message);
                    if (result.message === "Content Posted Successfully") {
                        location.reload()
                    }
                })
            }

            function edit(post_id) {
                const textArea = document.querySelector(`#text_${post_id}`);
                const mainArea = document.getElementById(`main_${post_id}`);

                fetch('/edit', {
                    method: 'POST',
                    body: JSON.stringify({
                        post_id: post_id,
                        content: textArea.value,
                    })
                })
                .then(response => response.json())
                .then(result => {
                    console.log(result.message);
                    mainArea.innerHTML = textArea.value;
                })
            }

            function like(post_id) {
                console.log(post_id)
                const likeButton = document.getElementById(`like_button_${post_id}`);
                const likeCount = document.getElementById(`like_count_${post_id}`);

                fetch('/like', {
                    method: 'POST',
                    body: JSON.stringify({
                        user: "{{ request.user.username }}",
                        post_id: post_id,
                        condition: likeButton.value,
                    })
                })
                .then(response => response.json())
                .then(result => {
                    console.log(result.message);
                    if (likeButton.value === "Like"){
                        likeButton.value = "Unlike";
                        likeCount.innerHTML = parseInt(likeCount.innerHTML) + 1; 
                    }
                    else if (likeButton.value === "Unlike") {
                        likeButton.value = "Like";
                        likeCount.innerHTML = parseInt(likeCount.innerHTML) - 1; 
                    }
                })
            }

            return (
                <div>
                    <h1>All Posts</h1>
                    {% if user.is_authenticated %}
                        <div id="newpost">
                            <h3>New Post</h3>
                            <div class="form-group">
                                <textarea class="form-control" type="text" id="content" name="content" rows="4"></textarea>
                                <br/>
                                <input class="btn btn-primary" type="submit" onClick={ post } value="Post"/>
                            </div>
                        </div>
                        <br/>
                    {% endif %}

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if posts.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Previous</a>
                                </li>
                            {% endif %}
                            {% for page_num in posts.paginator.page_range %}
                                <li class="page-item {% if page_num == posts.number %}active{% endif %}">
                                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                                </li>
                            {% endfor %}
                            {% if posts.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>

                    {% for post in posts %}
                        <div id="newpost">
                            <div id="{{ post }}">
                                <a href="/users/{{ post.poster }}"><h3><b>{{ post.poster }}</b></h3></a>
                                <h4 id="main_{{ post.id }}">{{ post.content }}</h4>
                                <h6>{{ post.time }}</h6>
                                <div id="likediv">
                                    {% if request.user in post.likers.all %}
                                        <input class="btn btn-danger" type="submit" id="like_button_{{ post.id}}" onClick={ () => like({{ post.id }})} value="Unlike"/>
                                    {% else %}
                                        <input class="btn btn-danger" type="submit" id="like_button_{{ post.id}}" onClick={ () => like({{ post.id }})} value="Like"/>
                                    {% endif %}

                                    <h4 id="like_count_{{ post.id}}">{{ post.likers.all | length }}</h4>
                                </div>
                                {% if request.user == post.poster %}
                                    <button class="btn btn-secondary" data-toggle="modal" data-target="#modal_{{ post.id }}">Edit Post</button>
                                    
                                    <div class="modal fade" id="modal_{{ post.id }}" tabindex="-1" aria-labelledby="modal_{{ post.id }}_label" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Post</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <textarea rows="7" id="text_{{ post.id }}" class="form-control" name="content">{{ post.content }}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" onClick={ () => edit({{ post.id }}) }>Save changes</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <div>
                            <h2>No Available Posts</h2>
                        </div>
                    {% endfor %}
                    <br/>
                </div>
            );
        }

        ReactDOM.render(<App />,  document.querySelector("#app"));

    </script>
{% endblock %}