{% extends "auctions/layout.html" %}

{% block body %}

    {% if message %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endif %}

    {% if listing.active == False %}
        <div class="alert alert-success" role="alert">
            {{ current_winner }} has won the auction for this item!
        </div>
    {% endif %}

    <h2>Listing: {{ listing.item }}</h2>
    <h4>Description: {{ listing.desc }}</h4>

    <img class="img-thumbnail" height="400px" width="400px" src="{{ listing.image_url }}" alt="{{ listing.item }}" >
    <h2>Current Price: ${{ listing.price }}</h2>

    <!-- FOR WATCHLIST -->
    {% if user.is_authenticated and listing.active == True %}
        <form action="{% url 'watchlist' %}" method="post">
            {% csrf_token %}
            <input class="btn btn-primary" type="submit" name="watchlist" value="Add Item {{ listing.id }} to Watchlist">
        </form>
    {% endif %}

    <!-- FOR BIDDING -->
    {% if user.is_authenticated and user.id != listing.owner.id and listing.active == True %}
        <form action="{% url 'listing' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group col-1">
                <label for="amount">Place Bid ($)</label>
                <input type="number" step="0.01" id="amount" name="amount" placeholder="Bid">
                <br><br>
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </div>    
        </form>
    {% endif %}

    <!-- FOR COMMENTS -->
    <h2>Comments</h2>
    <ul>
        {% if comments %}
            {% for comment in comments %}
            <li> {{ comment.time }}: '{{ comment.comment }}' By {{ comment.commenter}}.</li>
            {% endfor %}
        {% else %}
            <li>No Comments</li>
        {% endif %}
    </ul>

    {% if user.is_authenticated and user.id != listing.owner.id %}
        <form action="{% url 'comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group col-6">
                <label for="price">Write a Comment</label>
                <input class="form-control" type="text" id="comment" name="comment" placeholder="Enter a Comment">
                <br>
                <input class="btn btn-primary" type="submit" value="Submit Comment">
            </div>
        </form>
    {% endif %}

    <!-- FOR CLOSING AUCTION -->
    {% if user.is_authenticated and user.id == listing.owner.id %}
        <form action="{% url 'close' listing.id %}" method="post">
            {% csrf_token %}
            <input class="btn btn-outline-danger" type="submit" name="close" value="Close Auction">
        </form>
    {% endif %}

{% endblock %}