{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h2>Buy A Stock</h2>
    <br>
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus required class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus required class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Number of shares" min="1" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}